<IfModule mod_rewrite.c>
RewriteEngine on
Redirect 301 /index.html https://decrypto.net/
Redirect 301 /index.php https://decrypto.net/
Redirect 301 /2017-holiday-shopping-guide-audio-interfaces-2183636a1d32 https://decrypto.net/2017/09/2017-holiday-shopping-guide-audio-interfaces/
Redirect 301 /2017-holiday-shopping-guide-midi-keyboard-controllers-44a49b657105 https://decrypto.net/2017/09/2017-holiday-shopping-guide-midi-keyboard-controllers/
Redirect 301 /441k-auto-patch-advance-reference-guide-dbb1ce1e515d https://decrypto.net/2017/04/441k-auto-patch-advance-reference-guide/
Redirect 301 /441k-autocc-reference-guide-e2a924557c98 https://decrypto.net/2017/04/441k-autocc-reference-guide/
Redirect 301 /441k-harp-gliss-trigger-reference-guide-9ad1ead8d4d9 https://decrypto.net/2017/03/441k-harp-gliss-trigger-reference-guide/
Redirect 301 /441k-hole-puncher-reference-guide-48af3182c31d https://decrypto.net/2017/04/441k-hole-puncher-reference-guide/
Redirect 301 /441k-note-gate-reference-guide-2529f4add80c https://decrypto.net/2017/04/441k-note-gate-reference-guide/
Redirect 301 /441k-susnote-reference-guide-b7e69a15d60 https://decrypto.net/2017/04/441k-susnote-reference-guide/
Redirect 301 /5-tips-to-improve-your-eq-skills-2c9532f08d52 https://decrypto.net/2017/03/5-tips-to-improve-your-eq-skills/
Redirect 301 /a-macro-overview-of-a-playback-system-482b7abc85b9 https://decrypto.net/2016/12/a-macro-overview-of-a-playback-system/
Redirect 301 /about-a8ddbd645c30 https://decrypto.net/about/
Redirect 301 /an-overview-of-ableton-live-d59f25ee6b3a https://decrypto.net/2016/12/an-overview-of-ableton-live/
Redirect 301 /apple-mainstage-keyboard-programming-abfdf4645150 https://decrypto.net/2016/12/apple-mainstage-keyboard-programming/
Redirect 301 /apple-mainstage-tutorials-634b2e5d09d6 https://decrypto.net/2016/10/apple-mainstage-tutorials/
Redirect 301 /assigning-controllers-to-functions-in-apple-mainstage-61ce79a120b9 https://decrypto.net/2016/12/assigning-controllers-to-functions-in-apple-mainstage/
Redirect 301 /audio-technica-ath-m50x-professional-headphones-review-cdbbee9ea4b8 https://decrypto.net/2014/03/audio-technica-ath-m50x-professional-headphones-review/
Redirect 301 /bitperfect-app-review-getting-the-best-sound-quality-from-itunes-d6070a9179f7 https://decrypto.net/2014/03/bitperfect-app-review-getting-the-best-sound-quality-from-itunes/
Redirect 301 /boss-fs-5l-vs-fs-5u-foot-switches-8fe11ea374bf1 https://decrypto.net/2018/04/boss-fs-5l-vs-fs-5u-foot-switches/
Redirect 301 /choosing-hardware-for-apple-mainstage-e06ef2589fcf https://decrypto.net/2016/12/choosing-hardware-for-apple-mainstage/
Redirect 301 /clinton-the-musical-keyboard-programming-fb55b4c0742c https://decrypto.net/2015/04/clinton-the-musical-keyboard-programming/
Redirect 301 /cme-xkey37-mobile-usb-midi-keyboard-review-58f3fae34939 https://decrypto.net/2015/02/cme-xkey37-mobile-usb-midi-keyboard-review/
Redirect 301 /connecting-hardware-with-software-in-apple-mainstage-87e74e72dc59 https://decrypto.net/2016/12/connecting-hardware-with-software-in-apple-mainstage/
Redirect 301 /eq-or-compression-which-comes-first-508321319cf4 https://decrypto.net/2017/03/eq-or-compression-which-comes-first/
Redirect 301 /focusrite-forte-premium-usb-audio-interface-review-529859e18c66 https://decrypto.net/2015/04/focusrite-forte-premium-usb-audio-interface-review/
Redirect 301 /grado-prestige-series-sr325e-headphones-review-489ba944dc78 https://decrypto.net/2015/05/grado-prestige-series-sr325e-headphones-review/
Redirect 301 /how-to-batch-normalize-audio-on-macos-with-sox-e56aa63a2d3e https://decrypto.net/2017/04/how-to-batch-normalize-audio-on-macos-with-sox/
Redirect 301 /how-to-batch-normalize-audio-with-audacity-5af72aa3505e https://decrypto.net/2017/10/how-to-batch-normalize-audio-with-audacity/
Redirect 301 /how-to-bounce-a-multi-output-kontakt-drum-kit-in-logic-pro-x-bd23040ca1 https://decrypto.net/2017/04/how-to-bounce-a-multi-output-kontakt-drum-kit-in-logic-pro-x/
Redirect 301 /how-to-bounce-mono-audio-files-in-logic-pro-x-a0eb093c7565 https://decrypto.net/2016/04/how-to-bounce-mono-audio-files-in-logic-pro-x/
Redirect 301 /how-to-change-amplitube-3-presets-with-program-changes-94bdd65254c9 https://decrypto.net/2015/04/how-to-change-amplitube-3-presets-with-program-changes/
Redirect 301 /how-to-clean-in-ear-monitors-5ffca47aa560 https://decrypto.net/2017/03/how-to-clean-in-ear-monitors/
Redirect 301 /how-to-configure-rme-fireface-uc-for-mac-pc-eacc5295c94b https://decrypto.net/2015/11/how-to-configure-rme-fireface-uc-for-mac-pc/
Redirect 301 /how-to-connect-a-headphone-amplifier-to-an-audio-interface-3353f0fa915d6 https://decrypto.net/2017/10/how-to-connect-a-headphone-amplifier-to-an-audio-interface/
Redirect 301 /how-to-convert-giga-sample-libraries-to-exs24-format-96c2feef52ee https://decrypto.net/2014/03/how-to-convert-giga-sample-libraries-to-exs24-format/
Redirect 301 /how-to-create-a-tempo-map-in-logic-pro-x-6bff133f9487 https://decrypto.net/2016/03/how-to-create-a-tempo-map-in-logic-pro-x/
Redirect 301 /how-to-delete-unused-audio-files-in-logic-pro-x-d8f6471d87904 https://decrypto.net/2017/11/how-to-delete-unused-audio-files-in-logic-pro-x/
Redirect 301 /how-to-enable-the-sustain-pedal-in-vintage-b3-organ-b608f59a6037 https://decrypto.net/2016/12/how-to-enable-the-sustain-pedal-in-vintage-b3-organ/
Redirect 301 /how-to-extend-pitch-bend-range-in-exs24-65f23ee4d202 https://decrypto.net/2017/03/how-to-extend-pitch-bend-range-in-exs24/
Redirect 301 /how-to-filter-volume-control-in-mainstage-f55f6c6f899c7 https://decrypto.net/2017/10/how-to-filter-volume-control-in-mainstage/
Redirect 301 /how-to-fix-corrupt-concerts-in-mainstage-3-2-297b83dc82e5 https://decrypto.net/2015/09/how-to-fix-corrupt-concerts-in-mainstage-3-2/
Redirect 301 /how-to-fix-corrupt-concerts-in-mainstage-3-2-6ba61892184 https://decrypto.net/2015/09/how-to-fix-corrupt-concerts-in-mainstage-3-2/
Redirect 301 /how-to-fix-logic-pros-10011-system-overload-error-2d3c399e5ff https://decrypto.net/2014/12/how-to-fix-logic-pros-10011-system-overload-error/
Redirect 301 /how-to-fix-mainstage-patch-changes-on-roland-keyboards-ae0bf5d8a3aa https://decrypto.net/2015/01/how-to-fix-mainstage-patch-changes-on-roland-keyboards/
Redirect 301 /how-to-gain-stage-properly-in-apple-mainstage-a8b938be7e37 https://decrypto.net/2016/12/how-to-gain-stage-properly-in-apple-mainstage/
Redirect 301 /how-to-gain-stage-properly-in-apple-mainstage-e8c9b40f7f34 https://decrypto.net/2016/12/how-to-gain-stage-properly-in-apple-mainstage/
Redirect 301 /how-to-host-stream-music-on-dropbox-f7bd34eb47c5 https://decrypto.net/2016/03/how-to-host-stream-music-on-dropbox/
Redirect 301 /how-to-insert-empty-bars-in-logic-pro-x-ccd275d2c0d https://decrypto.net/2015/10/how-to-insert-empty-bars-in-logic-pro-x/
Redirect 301 /how-to-invert-polarity-in-logic-pro-x-f736fadf6a81 https://decrypto.net/2015/06/how-to-invert-polarity-in-logic-pro-x/
Redirect 301 /how-to-invert-sustain-pedal-polarity-in-mainstage-c48343045fff https://decrypto.net/2017/03/how-to-invert-sustain-pedal-polarity-in-mainstage/
Redirect 301 /how-to-launch-applescripts-with-mainstage-d77ca4abafe0 https://decrypto.net/2016/12/how-to-launch-applescripts-with-mainstage/
Redirect 301 /how-to-map-controllers-to-effects-in-mainstage-74323e38be14 https://decrypto.net/2016/12/how-to-map-controllers-to-effects-in-mainstage/
Redirect 301 /how-to-print-effects-to-audio-files-in-logic-pro-x-4146572fd941 https://decrypto.net/2014/04/how-to-print-effects-to-audio-files-in-logic-pro-x/
Redirect 301 /how-to-print-midi-to-audio-and-why-you-should-do-it-8c313d831882 https://decrypto.net/2014/03/how-to-print-midi-to-audio-and-why-you-should-do-it/
Redirect 301 /how-to-quit-ableton-live-via-applescript-6367ab53456b https://decrypto.net/2015/10/how-to-quit-ableton-live-via-applescript/
Redirect 301 /how-to-rebuild-a-corrupt-mainstage-concert-2c115dd82840 https://decrypto.net/2016/12/how-to-rebuild-a-corrupt-mainstage-concert/
Redirect 301 /how-to-record-a-mainstage-concerts-outputs-9fd1341f9012 https://decrypto.net/2016/12/how-to-record-a-mainstage-concerts-outputs/
Redirect 301 /how-to-reduce-vst-latency-6ce77975c000 https://decrypto.net/2017/03/how-to-reduce-vst-latency/
Redirect 301 /how-to-route-kontakt-to-multiple-outputs-in-ableton-live-43453a608481 https://decrypto.net/2017/04/how-to-route-kontakt-to-multiple-outputs-in-ableton-live/
Redirect 301 /how-to-sustain-sound-over-patch-changes-in-mainstage-ae6df7e39df4 https://decrypto.net/2016/12/how-to-sustain-sound-over-patch-changes-in-mainstage/
Redirect 301 /how-to-update-plex-media-server-on-ubuntu-be002870fdc5 https://decrypto.net/2015/07/how-to-update-plex-media-server-on-ubuntu/
Redirect 301 /how-to-use-a-mono-output-in-mainstage-561b736a7be https://decrypto.net/2017/08/how-to-use-a-mono-output-in-mainstage/
Redirect 301 /how-to-use-a-yamaha-fc7-pedal-with-roland-kurzweil-keyboards-e40d7f741f2c https://decrypto.net/2017/04/how-to-use-a-yamaha-fc7-pedal-with-roland-kurzweil-keyboards/
Redirect 301 /how-to-use-mainstage-to-make-midi-mappings-in-ableton-live-2b23ad1511f2 https://decrypto.net/2017/08/how-to-use-mainstage-to-make-midi-mappings-in-ableton-live/
Redirect 301 /how-to-use-reverb-in-mainstage-54d68863289c https://decrypto.net/2017/09/how-to-use-reverb-in-mainstage/
Redirect 301 /in-ear-monitors-balanced-armature-drivers-vs-dynamic-drivers-c0327d6a0e70 https://decrypto.net/2014/02/in-ear-monitors-balanced-armature-drivers-vs-dynamic-drivers/
Redirect 301 /interview-christian-matthew-cullen-on-apple-mainstage-588f786d6a6 https://decrypto.net/2016/09/interview-christian-matthew-cullen-on-apple-mainstage/
Redirect 301 /introduction-to-mainstage-keyboard-programming-115be7838172 https://decrypto.net/2016/12/introduction-to-mainstage-keyboard-programming/
Redirect 301 /kawai-vpc1-virtual-piano-controller-review-2e0b2f9eb921 https://decrypto.net/2017/03/review-kawai-vpc1-virtual-piano-controller/
Redirect 301 /keyboard-programming-in-apple-mainstage-afe1e7cd81a https://decrypto.net/2016/12/introduction-to-mainstage-keyboard-programming/
Redirect 301 /mainstage-3-system-requirements-c9a11cd8ee8f https://decrypto.net/2017/03/mainstage-3-system-requirements/
Redirect 301 /mainstage-for-musical-theatre-getting-started-a2cb5f82de79 https://decrypto.net/2013/02/mainstage-for-musical-theatre-getting-started/
Redirect 301 /mainstage-for-musical-theatre-mapping-chords-and-slave-notes-617b1719a507 https://decrypto.net/2013/10/mainstage-for-musical-theatre-mapping-chords-and-slave-notes/
Redirect 301 /mainstage-for-musical-theatre-mapping-sound-effects-harp-glissandi-4d8e960f8dcd https://decrypto.net/2013/12/mainstage-for-musical-theatre-sequencing-harp-glissandi/
Redirect 301 /mainstage-for-musical-theatre-sequencing-harp-glissandi-bd4c9425294f https://decrypto.net/2013/02/mainstage-for-musical-theatre-using-a-global-reverb/
Redirect 301 /mainstage-for-musical-theatre-using-a-global-reverb-8b77e757ce28 https://decrypto.net/2013/12/mainstage-for-musical-theatre-using-high-pass-eq/
Redirect 301 /modartt-releases-pianoteq-6-c78903c42a61 https://decrypto.net/2017/09/modartt-releases-pianoteq-6/
Redirect 301 /motu-avb-series-comprehensive-overview-f36e841a1b9a https://decrypto.net/2015/10/motu-avb-series-comprehensive-overview/
Redirect 301 /mxl-r144-ribbon-microphone-review-b29dfe5a8037 https://decrypto.net/2014/03/mxl-r144-ribbon-microphone-review/
Redirect 301 /on-the-removal-of-the-sound-design-tony-award-cf2f2eeaeb16 https://decrypto.net/2015/06/on-the-removal-of-the-sound-design-tony-award/
Redirect 301 /optimizing-keyscape-for-live-performance-92138de740c https://decrypto.net/2017/03/optimizing-keyscape-for-live-performance/
Redirect 301 /q-should-i-split-up-a-mainstage-concert-a6a6154600453 https://decrypto.net/2017/11/q-should-i-split-up-a-mainstage-concert/
Redirect 301 /review-blue-microphones-snowball-usb-microphone-9a270519424a https://decrypto.net/2014/02/review-blue-microphones-snowball-usb-microphone/
Redirect 301 /review-cad-gxl2200-condenser-microphone-f8391ef61d1b https://decrypto.net/2014/02/review-cad-gxl2200-condenser-microphone/
Redirect 301 /review-m-audio-m-track-plus-usb-audio-interface-ebba21f488f6 https://decrypto.net/2014/01/review-m-audio-m-track-plus-usb-audio-interface/
Redirect 301 /review-modartt-pianoteq-6-modeled-piano-vst-plugin-11204264de17 https://decrypto.net/2017/09/review-modartt-pianoteq-6-modeled-piano-vst-plugin/
Redirect 301 /review-shure-rmce-bt1-bluetooth-remote-mic-cable-55ac730933e5 https://decrypto.net/2017/10/review-shure-rmce-bt1-bluetooth-remote-mic-cable/
Redirect 301 /review-tc-electronic-level-pilot-3c4492b6ab62 https://decrypto.net/2017/03/review-tc-electronic-level-pilot/
Redirect 301 /sampling-synths-with-auto-sampler-in-mainstage-3-26c506eb27a0 https://decrypto.net/2015/01/sampling-synths-with-auto-sampler-in-mainstage-3/
Redirect 301 /sampling-synths-with-auto-sampler-in-mainstage-3-412deb8f900e https://decrypto.net/2015/01/sampling-synths-with-auto-sampler-in-mainstage-3/
Redirect 301 /saving-transferring-mainstage-concerts-967e3e77d9dc https://decrypto.net/2016/12/saving-transferring-mainstage-concerts/
Redirect 301 /submixing-with-aux-patch-buses-in-mainstage-968e14f5fa60 https://decrypto.net/2015/12/submixing-with-aux-patch-buses-in-mainstage/
Redirect 301 /the-best-audio-interfaces-for-mainstage-730915509f85 https://decrypto.net/2017/02/the-best-audio-interfaces-for-mainstage/
Redirect 301 /the-best-hard-drives-for-music-production-4b9fe0d3fe06 https://decrypto.net/2017/02/the-best-hard-drives-for-music-production/
Redirect 301 /the-best-in-ear-monitors-for-bassists-48aaf21b83da8 https://decrypto.net/2017/10/the-best-in-ear-monitors-for-bassists/
Redirect 301 /the-best-in-ear-monitors-for-keyboardists-fb0353d183b50 https://decrypto.net/2018/05/the-best-in-ear-monitors-for-keyboardists/
Redirect 301 /the-best-keyboards-for-mainstage-284cd660c82 https://decrypto.net/2017/03/the-best-keyboards-for-mainstage/
Redirect 301 /the-best-midi-foot-controllers-for-mainstage-21692a944035 https://decrypto.net/2018/04/the-best-midi-foot-controllers-for-mainstage/
Redirect 301 /the-best-midi-foot-controllers-for-mainstage-21692a9440352 https://decrypto.net/2018/04/the-best-midi-foot-controllers-for-mainstage/
Redirect 301 /the-best-portable-midi-keyboards-48f1ea635309 https://decrypto.net/2017/02/the-best-portable-midi-keyboards/
Redirect 301 /the-best-stand-lights-for-musicians-37f2f2e1c8fb https://decrypto.net/2017/03/the-best-stand-lights-for-musicians/
Redirect 301 /the-definitive-guide-to-using-kontakt-with-mainstage-253e388158b2 https://decrypto.net/2017/02/the-definitive-guide-to-using-kontakt-with-mainstage/
Redirect 301 /the-hierarchy-of-a-mainstage-concert-55f13afd81e1 https://decrypto.net/2016/12/the-hierarchy-of-a-mainstage-concert/
Redirect 301 /top-5-best-orchestration-textbooks-7bb93362de57 https://decrypto.net/2015/01/top-5-best-orchestration-textbooks/
Redirect 301 /top-5-music-production-books-2014-edition-87a4f8171ce https://decrypto.net/2014/12/top-5-music-production-books-2014-edition/"
Redirect 301 /using-aliases-to-reduce-ram-and-cpu-usage-in-mainstage-1f1bff206d3 "https://decrypto.net/2015/01/using-aliases-to-reduce-ram-and-cpu-usage-in-mainstage/
Redirect 301 /using-aliases-to-reduce-ram-and-cpu-usage-in-mainstage-ce198bee2a4a https://decrypto.net/2015/01/using-aliases-to-reduce-ram-and-cpu-usage-in-mainstage/
Redirect 301 /using-logic-remote-with-a-local-ad-hoc-wi-fi-network-d973180093ff https://decrypto.net/2014/11/using-logic-remote-with-a-local-ad-hoc-wi-fi-network/
Redirect 301 /using-third-party-plugins-sample-libraries-in-mainstage-24a8762ea7a4 https://decrypto.net/2016/12/using-third-party-plugins-sample-libraries-in-mainstage/
Redirect 301 /vintage-organ-pack-by-christian-cullen-675199296c50 https://decrypto.net/2016/12/vintage-organ-pack-by-christian-cullen/
Redirect 301 /virtual-instruments-plugins-in-apple-mainstage-ef6510f3c5c2 https://decrypto.net/2016/12/virtual-instruments-plugins-in-apple-mainstage/
Redirect 301 /whats-new-in-mainstage-3-3-2-5df7f5adf866 https://decrypto.net/2017/08/whats-new-in-mainstage-3-3-2/
Redirect 301 /whats-new-in-mainstage-3-3-5b3df8f12a73 https://decrypto.net/2017/03/whats-new-in-mainstage-3-3/
Redirect 301 /which-mac-should-i-get-for-mainstage-6a59861dadca https://decrypto.net/2017/02/which-mac-should-i-get-for-mainstage/
Redirect 301 /why-bounce-2nd-cycle-pass-in-logic-pro-x-dd6d873e9129 https://decrypto.net/2016/03/why-bounce-2nd-cycle-pass-in-logic-pro-x/
Redirect 301 /why-every-musician-should-have-a-website-f746b0e7538d https://decrypto.net/2014/12/why-every-musician-should-have-a-website/
Redirect 301 /why-the-music-department-isnt-eligible-for-tony-awards-11afebbc882 https://decrypto.net/2015/06/why-the-music-department-isnt-eligible-for-tony-awards/
Redirect 301 /why-you-shouldnt-use-soundcloud-to-host-a-music-portfolio-bce1b4665ee8 https://decrypto.net/2016/03/why-you-shouldnt-use-soundcloud-to-host-a-music-portfolio/
</IfModule>
